- Insert data to table
```sql
CREATE SCHEMA IF NOT EXISTS `TESTDB` DEFAULT CHARACTER SET utf8mb4 ;

CREATE TABLE IF NOT EXISTS `TESTDB`.`Staff` (
  `ID` VARCHAR(10) NOT NULL COMMENT 'Employee ID',
  `Name` VARCHAR(45) NOT NULL COMMENT 'Employee name',
  `DeptId` VARCHAR(10) NOT NULL COMMENT 'Department ID',
  `Age` INT NULL,
  `Gender` VARCHAR(3) NULL,
  `Salary` INT NULL,
  `recordDt` DATETIME NOT NULL COMMENT 'The date and time that this information be recorded',
  PRIMARY KEY (`ID`))
DEFAULT CHARACTER SET = utf8mb4;

INSERT INTO `TESTDB`.`Staff` (`ID`, `Name`, `DeptId`, `Age`, `Gender`, `Salary`, `recordDt`) VALUES
('S001', 'Alice Chen', 'D001', 28, 'F', 55000, '2025-05-18 09:00:00'),
('S002', 'Bob Lin',   'D002', 35, 'M', 62000, '2025-05-18 09:05:00'),
('S003', 'Cathy Wu',  'D001', 42, 'F', 71000, '2025-05-18 09:10:00'),
('S004', 'David Hsu', 'D003', 30, 'M', 50000, '2025-05-18 09:15:00'),
('S005', 'Eva Lee',   'D002', 25, 'F', 48000, '2025-05-18 09:20:00');
```

In [10]:
from urllib.parse import quote_plus

import pandas as pd
from sqlalchemy import create_engine

username = quote_plus("root")
password = quote_plus("mysecret")
server = "127.0.0.1:3306"
db_name = "TESTDB"

conn = create_engine(
    f"mysql+pymysql://{username}:{password}@{server}/{db_name}?autocommit=true",
).connect()

In [11]:
quote_plus("1qaz@WSX")

'1qaz%40WSX'

In [12]:
sql = """
select * from Staff
"""

df = pd.read_sql(sql, conn)

df

     ID        Name DeptId  Age Gender  Salary            recordDt
0  S001  Alice Chen   D001   28      F   65000 2025-05-18 09:00:00
1  S002     Bob Lin   D002   35      M   72000 2025-05-18 09:05:00
2  S003    Cathy Wu   D001   42      F   81000 2025-05-18 09:10:00
3  S004   David Hsu   D003   30      M   60000 2025-05-18 09:15:00
4  S005     Eva Lee   D002   25      F   58000 2025-05-18 09:20:00

In [13]:
df.dtypes

ID                  object
Name                object
DeptId              object
Age                  int64
Gender              object
Salary               int64
recordDt    datetime64[ns]
dtype: object

In [14]:
df["Salary"] + 10000

0    75000
1    82000
2    91000
3    70000
4    68000
Name: Salary, dtype: int64

In [15]:
df["Salary"] = df["Salary"] + 10000

In [16]:
df.to_sql(
    name="Staff",
    con=conn,
    if_exists="replace",
    index=False,
)

5

In [9]:
# conn.commit()

In [17]:
conn.close()

In [18]:
with create_engine(
    f"mysql+pymysql://{username}:{password}@{server}/{db_name}?autocommit=true",
).connect() as conn:
    sql = """
    select * from Staff
    """

    df = pd.read_sql(sql, conn)

    df["Salary"] = df["Salary"] + 10000

    df.to_sql(
        name="Staff",
        con=conn,
        if_exists="replace",
        index=False,
    )