```sql
CREATE SCHEMA IF NOT EXISTS `TESTDB` DEFAULT CHARACTER SET utf8mb4 ;

CREATE TABLE IF NOT EXISTS `TESTDB`.`Staff` (
  `ID` VARCHAR(10) NOT NULL COMMENT 'Employee ID',
  `Name` VARCHAR(45) NOT NULL COMMENT 'Employee name',
  `DeptId` VARCHAR(10) NOT NULL COMMENT 'Department ID',
  `Age` INT NULL,
  `Gender` VARCHAR(3) NULL,
  `Salary` INT NULL,
  `recordDt` DATETIME NOT NULL COMMENT 'The date and time that this information be recorded',
  PRIMARY KEY (`ID`))
DEFAULT CHARACTER SET = utf8mb4;

INSERT INTO `TESTDB`.`Staff` (`ID`, `Name`, `DeptId`, `Age`, `Gender`, `Salary`, `recordDt`) VALUES
('S001', 'Alice Chen', 'D001', 28, 'F', 55000, '2025-05-18 09:00:00'),
('S002', 'Bob Lin',   'D002', 35, 'M', 62000, '2025-05-18 09:05:00'),
('S003', 'Cathy Wu',  'D001', 42, 'F', 71000, '2025-05-18 09:10:00'),
('S004', 'David Hsu', 'D003', 30, 'M', 50000, '2025-05-18 09:15:00'),
('S005', 'Eva Lee',   'D002', 25, 'F', 48000, '2025-05-18 09:20:00');
```